@media(max-width: 500px){
    nav{
        background-color: #0b132b;
    }
    .email{
        color: #ef9b0f;
    }
    .navbar-brand{
        color: antiquewhite;
    }
    .bg-about{
        background-color: antiquewhite;
    }
    .navbar-logo{
        color: #0b132b;
    }
    .item a{
        color: #000 !important;
    }
    .item a:hover{
        color: #ef9b0f !important;
    }
    .about-email{
        color: #0b132b;
    }
    /* .about-span{
        color: #0b132b;
    } */
    .banner{
        height: 400px;
        background-image:url('../images/eeet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: left top; */
        background-attachment: fixed;
    }

    .number{
        color: #fff;
        font-size: 1.3em;
    }
    .mechanic{
        margin-top: 10rem;
        font-size: 2em;
    }
    .nav-item a{
        font-size: 1.3em;
        color: #ef9b0f;
    }
    .nav-item a:hover{
        color: #0b132b;
    }
    .home-item a:hover{
        color: antiquewhite !important;
    }
    .content{
        margin-top: 18rem;
    }
    .para1{
        text-align: start;
    }
    .btns{
        width: 40%;
    }

    /* about us */
    h5{
        font-size: 1.2em;
    }
    .about{
        font-size: 2.5em;
    }
    .para2{
        font-size: 1.1em;
    }
    .button{
        width: 35%;
    }
    .text{
        text-align: start;
    }
    .text-title{
        text-align: center;
    }
    .contact-btn{
        margin-bottom: 1em;
    }
}
@media(max-width: 320px){
    .button{
        width: 45%;
    }
    .home-heading{
        font-size: 1.7em;
    }
    .btns{
        width: 45%;
        padding: 10px;
    }
}
@media(max-width: 768px){
    .contact-btn{
        width: 40%;
    }
}